.LayoutDiv{
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav li span {
    display: block;
    text-align: center;
  }

.contentWrapper {
    display: flex;
    justify-content: center;
}

.active{
  color: aquamarine;
}