.TodoList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TodoItem{
    display: "flex";
    flex-direction: row;
}

.container {
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 350px; 
    margin-bottom: 5px;
  }
  
  .box {
    display: flex;
  }
  
  .textbox {
    margin-right: 10px;
  }
  
  .button {
    align-self: center;
  }